{% extends 'registration/base.html' %}
{% load bootstrap3%}
{% load static %}
{% block content %}
  <div class="container" style="background-color:wheat;">
  <div class="row">
  <div class="col-md-4">
  <div class="content-section">
  <div class="media" style="margin-left:40px;">
  <img src="{{user.profile.profile_pic.url}}" alt="Profile" class="img_profile img-responsive" style="margin-top:60px;">
  <div class="media-body">
  <div class="bodd">
  <h3 class="account-heading ml-4">{{user.username}}</h3>
  <button class="btn btn-outline-primary"><a href="{% url 'profile_edit' %}">Edit Profile</a></button><a href="{% url 'homePage' %}" ></a>
</div>
  <div class="bod" style="margin-left: 3px;justify-content: space-around; margin-top:30px">
  <p ><strong>{{user.Post}} Posts</strong></p>
  <p ><strong>{{user|length}} Followers</strong></p>
  <p ><strong>{{user|length}} Following</strong></p>
  </div>
  <br><br>
  <p class="text-secondary ml-4"><strong>Email:</strong> {{user.email}}</p>
  <p class="text-secondary ml-4"><strong>Bio:</strong> {{user.profile.bio}}</p>
  </div>
</div>
</div>
</div>
</div>
  <hr>
  <div class="row">
    {% for user in pictures %}
    <div class="col-md-4" style="margin-right: 5%;">
      <img src="{{user.image.url}}" height="200" class="img-responsive">
    </div>
    {% endfor %}
  </div>

  <style>
      .img_profile{
        vertical-align: middle;
        width: 200px;
        height: 200px;
        border-radius:50%;
      }
      .bodd,.bod{
       display: flex;
       justify-content: space-between;
      }
    </style>

  {% endblock %}
